"*":
  editor:
    showIndentGuide: true
    fontSize: 15
    invisibles: {}
    fontFamily: "Source Code Pro for Powerline, Extralight"
    scrollPastEnd: true
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "spacegray-tomorrowdark-ui"
      "tomorrow-night-syntax-theme"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "archive-view"
      "language-mustache"
      "welcome"
      "feedback"
      "image-view"
      "language-hyperlink"
      "language-objective-c"
      "language-perl"
      "language-toml"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  wakatime:
    apikey: ""
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
    ]
